:root {
  --main-bg-color: #171717;
  --soft-bg-color: #444444;
  --warm-elements-color: #DA0037;
  --main-text-color: #EDEDED;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: 'Segoe UI', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15%;
}

.section,
.issues-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.issue-item {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: 1px solid var(--soft-bg-color);
  border-radius: 15px;
  margin: 5px 0;
  padding: 1rem;
}

.issue-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.issue-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cfcfcf;
  margin-right: 15px;
}

.issue-title h2 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}

.issue-date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cfcfcf;
  font-size: 0.75rem;
  line-height: 1rem;
}

.issue-date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cfcfcf;
}

.issue-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.issue-item img {
  width: 50%;
  height: 50%;
}


.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  width: 80%;
}

.issue-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  background-color: var(--soft-bg-color);
  padding: 0 20px;

}

.issue-page-description {
  margin: 50px 30px 20px 30px;
}















/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */