:root {
  --main-bg-color: #000;
  --soft-bg-color: #252525;
  --warm-elements-color: #a52344;
  --main-text-color: #EDEDED;

  /* testing colors */
  --grey-1: rgb(28, 28, 30);
  --grey-2: #1c1c1e;
  --grey-3: #30363d;
  --grey-4: #161b22;
  --green-1: rgb(2, 4, 22);
  --green-2: rgb(15, 23, 42);
  --yellow-1: rgb(255, 212, 21);
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: 'Segoe UI', sans-serif;
}

.section,
.issues-list,
.releases-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  margin: 5rem 0 2rem 0;
}

.issues-list {
  margin-top: 1rem;
}

/*********** Header ***********/

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15%;
  position: fixed;
  top: 0;
  background-color: var(--main-bg-color);
  width: 100%;
  font-size: 22px;
}

.header-options a {
  margin-right: 2rem;
}

/*********** Item ***********/

.issue-item {
  display: flex;
  flex-direction: column;
  width: 22vw;
  border-radius: 15px;
  margin: 20px 0;
  background-color: var(--grey-1);
}

.issue-item-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.issue-item-picture img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px 15px 0 0;
}

.issue-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #cfcfcf;
  padding: 1.5rem;
}

.issue-item-info h2 {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  color: #fff;
}

.issue-item-info p {
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #838393;
  margin: 0;
}


/*********** IssuePage ***********/

.issue-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 3rem 0 2rem 0;
}

.first-column {
  width: 45%;
  padding: 3rem 4rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  text-align: justify;
}

.first-column img,
.first-column p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.first-column img {
  border-radius: 0.5rem;
}

.second-column {
  width: 25%;
  padding-top: 3rem;
}

.issue-page-title {
  margin-bottom: 1.5rem;
  font-size: 44px;
  font-weight: 600;
}

.issue-page-date {
  font-size: 14px;
  color: #8e8e93;
  margin-bottom: 1rem;
}

.issue-page-location {
  font-size: 20px;
  color: #8e8e93;
  margin-bottom: 1.5rem;
}

.issue-page-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.issue-page-tag {
  border: 1px solid rgb(58, 58, 60);
  border-radius: 35px;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0.5rem 0.3rem;
  text-align: center;
}

.issue-page-tag:hover {
  background-color: var(--grey-4);
}

.issue-page-section { 
  border-top: var(--grey-3) solid 1px;
  padding: 8px 0;
}

.issue-page-label {
  margin-left: 0.6rem;
  margin-bottom: 0.6rem;
}

.issue-page-state {
  border: 1px solid rgb(58, 58, 60);
  border-radius: 35px;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0.5rem 0.3rem;
  text-align: center;
}


/*********** Categories Page ***********/

.main-column {
  width: 50%;
}

.main-column .issue-page-tags {
  padding: 1rem;
}


/*********** Releases ***********/

.releases-list {
  flex-direction: column-reverse;
}

.releases-item {
  display: flex;
  flex-direction: column;
  width: 30vw;
  border-radius: 15px;
  margin: 20px 0;
  border: var(--grey-3) solid 1px;
}

.releases-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #cfcfcf;
  padding: 1.5rem;
}

.releases-item-info h2 {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  color: #fff;
}

.releases-item-info p {
  font-size: 16px;
  line-height: 1.2;
  color: #838393;
}

.releases-item-content {
  margin-bottom: 1rem;
}

.releases-item:hover {
  background-color: var(--grey-4);
}


/*********** Responsive Design ***********/

@media (max-width: 1024px) {
  .issue-item {
    width: 30vw;
  }

  .main-column {
    width: 50%;
    display: flex;
  }

  .main-column .issue-page-tags {
    width: 100%;
  }

  .issue-page {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .first-column {
    width: 60%;
    padding: 2rem 0 0 0;
  }

  .first-column img,
  .first-column p {
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  .second-column {
    width: 60%;
  }

}


@media (max-width: 768px) {
  .issue-item {
    width: 40vw;
  }

  .main-column {
    width: 60%;
  }
}

@media (max-width: 640px) {
  .issue-item {
    width: 60vw;
  }

  .main-column {
    width: 60%;
  }

  .main-column .issue-page-tags {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}








/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */